.earth-page-content{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leaflet-container{
    z-index: 2;
    height: 60vh;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
}
.coordinates{
    text-align: center;
    z-index: 2;
}
.layout-container-dark .coordinates{
    color: white;
}
.layout-container-light .coordinates{
    color: black;
}
.layout-container-dark .leaflet-container .leaflet-control-zoom-in,
.layout-container-dark .leaflet-container .leaflet-control-zoom-out {
    background-color: rgba(47, 46, 46, 0.5);
    color: white;
}

.layout-container-light .leaflet-container .leaflet-control-zoom-in,
.layout-container-light .leaflet-container .leaflet-control-zoom-out {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.custom-cluster-icon{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}
.satellite-image{
    z-index: 2;
}