.mars-page{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mars-page-content {
    display: flex;
}

.mars-rover-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    z-index: 2;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.mars-rover-card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 20px); 
    box-sizing: border-box; 
    width: 30%;
}
.mars-rover-card:hover{
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transform: scale(1.05);
}

.mars-rover-card img {
    width: 100%;
    border-radius: 10px;
    max-height: 500px;
    display: block;
    margin: auto;
}
.mars-page footer{
    text-align: center;
    align-self: center;
    display: flex;
    gap: 20px;
    z-index: 2;
}
.mars-page footer button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 2;
}
.mars-page footer button:disabled{
    cursor: not-allowed;
}
.layout-container-dark footer button{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);   
}
.layout-container-dark footer button:hover{
    background-color: rgba(32, 31, 31, 0.7);
}
.layout-container-dark footer button:disabled{
    background-color: rgba(156, 152, 152, 0.3);
}
.mars-page nav{
    align-self: flex-end;
    transform: translateX(-50px);
    display: flex;
    gap: 10px;
}
.mars-page span{
    margin-top: 6px;
}
select{
    appearance: none;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
select:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.layout-container-dark select{
    background-color: rgba(47, 46, 46, 0.5);
    color: white;
}
.layout-container-dark select:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.layout-container-dark span{
    color: white;
}
.layout-container-light select{
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}
.layout-container-light select:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.layout-container-light span{
    color: black;
}
.layout-container-dark .mars-rover-card{
    background-color: rgba(47, 46, 46, 0.5);
}

.mars-rover-link{
    margin: auto;
}



