.mars-page{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mars-page-content {
    display: flex;
}

.mars-rover-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    z-index: 2;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.mars-rover-card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 20px); 
    box-sizing: border-box; 
    width: 30%;
}

.mars-rover-card img {
    width: 100%;
    border-radius: 10px;
    max-height: 500px;
    display: block;
    margin: auto;
}
.mars-page footer{
    text-align: center;
    align-self: center;
    display: flex;
    gap: 20px;
    z-index: 2;
}
.mars-page footer button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.mars-page footer button:disabled{
    cursor: not-allowed;
}
.layout-container-dark footer button{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);   
}
.layout-container-dark footer button:hover{
    background-color: rgba(32, 31, 31, 0.7);
}
.layout-container-dark footer button:disabled{
    background-color: rgba(156, 152, 152, 0.3);
}
.mars-page nav{
    align-self: flex-end;
    transform: translateX(-50px);
    display: flex;
    gap: 10px;
}


