.mars-rover-detail-page{
    min-height: 90vh;
}
.mars-rover-detail-container{
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
    margin-top: 40px;
    z-index: 2;
}
.mars-rover-detail-image{
    width: 50%;
    align-self: center;
}
.mars-rover-detail-info{
    width: 50%;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
    align-self: flex-start;
    margin-top: 20px;
}

.mars-rover-detail-image img{
    width:75%;
    max-height: 400px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.mars-rover-detail-image h6{
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10px;
}
.layout-container-dark .mars-rover-detail-container{
    color: white;
}
.layout-container-light .mars-rover-detail-container{
    color: black;
}